// SPDX-License-Identifier: MIT

// Generated for Blank Slate with QWERTZ, Umlaute & Pfeiltasten

keymap {
  compatible = "zmk,keymap";

  layer_0 {
    bindings = <
      &kp ESC     &kp Q       &kp W       &kp E       &kp R       &kp T       &kp Z       &kp U       &kp I       &kp O       &kp P       &kp BKSP
      &kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp Ä       &kp DOT
      &kp LSHFT   &kp Y       &kp X       &kp C       &kp V       &kp B       &kp N       &kp M       &kp Ü       &kp Ö       &kp ß       &kp RET
      &kp LCTRL   &mo L3      &kp LGUI    &kp LALT    &mo L2      &kp SPACE   &kp RET     &mo L1      &kp LEFT    &kp UP      &kp DOWN    &kp RIGHT
    >;
  };

  layer_1 {
    bindings = <
      &kp ESC     &kp N7      &kp N8      &kp N9      &kp ASTERISK &kp SLASH   &kp EQUAL   &kp LBKT    &kp RBKT    &kp PLUS    &kp MINUS   &kp BKSP
      &kp TAB     &kp N4      &kp N5      &kp N6      &kp PERC     &kp DLR     &kp AT      &kp LBRACE  &kp RBRACE  &kp HASH    &kp EXCL    &kp RET
      &kp LSHFT   &kp N1      &kp N2      &kp N3      &kp GRAVE    &kp CARET   &kp AMPS    &kp LT      &kp GT      &kp PIPE    &kp COLON   &kp SEMI
      &kp LCTRL   &mo L3      &kp LGUI    &kp LALT    &mo L2       &kp SPACE   &kp RET     &kp N0      &kp LEFT    &kp UP      &kp DOWN    &kp RIGHT
    >;
  };

  layer_2 {
    bindings = <
      &kp ESC     &kp F7      &kp F8      &kp F9      &kp F10      &kp F11     &kp F12     &kp PG_DN   &kp END     &kp DEL     &kp HOME    &kp BKSP
      &kp TAB     &kp F4      &kp F5      &kp F6      &kp DOWN     &kp LEFT    &kp RIGHT   &kp UP      &kp INS     &kp APP     &kp CAPS    &kp RET
      &kp LSHFT   &kp F1      &kp F2      &kp F3      &kp UNDO     &kp REDO    &kp C_Z     &kp C_X     &kp C_C     &kp C_V     &kp C_A     &kp C_S
      &kp LCTRL   &mo L3      &kp LGUI    &kp LALT    &mo L2       &kp SPACE   &kp RET     &mo L1      &kp HOME    &kp PG_UP   &kp PG_DN   &kp END
    >;
  };

  layer_3 {
    bindings = <
      &kp ESC     &kp EXCL    &kp DQUO    &kp SECT    &kp DLLR     &kp PERC    &kp AMPS    &kp SLASH   &kp LPAR    &kp RPAR    &kp EQUAL   &kp BKSP
      &kp TAB     &kp UNDERS  &kp QMARK   &kp BSLASH  &kp COLON    &kp TILDE   &kp HASH    &kp LBRACE  &kp RBRACE  &kp AT      &kp CARET   &kp RET
      &kp LSHFT   &kp PIPE    &kp LESS    &kp GREATER &kp SQT      &kp DQT     &kp PLUS    &kp ASTRK   &kp COMMA   &kp DOT     &kp SEMI    &kp COLON
      &kp LCTRL   &trans      &kp LGUI    &kp LALT    &mo L2       &kp SPACE   &kp RET     &mo L1      &kp LEFT    &kp UP      &kp DOWN    &kp RIGHT
    >;
  };
};
